html, body { height: 100%; }
body { margin: 0; font-family: 'Poppins', sans-serif; }

mat-form-field {
  width: 100%; 
}

h1 {
  font-size: 20px;
  margin-top: 12px;
}

h2 {
  font-size: 16px;
  margin-top: 12px;
}

h3 {
  font-size: 12px;
  margin-top: 12px;
}

